@CHARSET "UTF-8";
#site-box {    }


#a-box {  float: left;}

#b-box {
  float: right;
  margin-bottom: 100px;
}

#c-box {
  clear:both;
  }

table {
	border-collapse: collapse;
  margin-top: 70px;
  width: 100%;
}
td,th {
  white-space: nowrap;
	border: solid 1px;
	padding: 0.5em;
}

td{
  text-align: right;
}

th{
  text-align: center;
}

a:hover {background:#ffffff; text-decoration:none;} /*BG color is a must for IE6*/
a.tooltip span {
  display:none;
  padding:2px 3px;
  width:200px;

  }

a.tooltip:hover span{
  display:inline;
  position:absolute;
  border:1px solid #cccccc;
  background:#ffffff;
  color:#6c6c6c;
  bottom: 25px;
  left: -100px;
}
